################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TscDemo.ImagePrintingApp/.vs
/TscDemo.ImagePrintingApp/obj
/.vs
